.footer {
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    position: sticky;
    bottom: 0;
}

body {
    background-color: 434343;
    flex-direction: column;
}

h1 {
    color: c0c0c0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.btnP {
    background-color: #71b7c9; /* Fondo */
    /*border: none; /* Sin bordes */
    padding: 7px 14px; /* Relleno */
    text-align: center; /* Texto centrado */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Alinear elementos en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 2px; /* Margen */
    cursor: pointer; /* Cursor tipo mano */
    border-radius: 12px; /* Esquinas redondeadas */
}

.btnP:hover {
    background-color: #c0c0c0; /* Verde más oscuro al pasar el cursor */
}
